/* @import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"); */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

}
body{
  height: 100vh;
  width: 100vw;
}
header {
  position: relative;
  height: 50%;
  /* border: 7px solid #eee; */
}
h1 {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 22%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
}




body {
  font-family: "Press Start 2P";
  color: white;
  background-color:tomato;
}

.between {
  /* position: absolute; */
  text-align: right;
  margin-top:20px;
  /* top: 20px;
  right: 15px; */
}

.btn {
  /* margin-top: ; */
  margin-left: 15px;
  border: none;
  font-family: inherit;
  /* parent tan inherit etsin alsın */
  font-size: 30px;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #eee;
  text-align: center;
  border-radius: 20px;

}

.number {
  position: absolute;
  left: 50%;
  bottom: 75px;
  border-radius: 20px;
  width: 180px;
  padding: 20px;
  background: #eee;
  color: #333;
  font-size: 60px;
  text-align: center;
  transform: translate(-50%, 50%);
  /* çizginin üzerinde görünsün diye */
}
main {
  height: 50%;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
}
.right {
  width: 300px;
  font-size: 20px;
}

.left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess {
  background: none;
  border: 5px solid #eee;
  /* parent ın font-family sini kalıtımsal olarak al, aynısını kullan */
  font-family: inherit;
  color: inherit;
  font-size: 40px;
  text-align: center;
  width: 250px;
  display: block;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 20px;
  
}
.msg {
  margin-bottom: 150px;
}
.score {
  margin-bottom: 50px;
}